<ScrollView row="0">
    <StackLayout class="full-dashboard" *ngIf="visible_key">
        <FlexboxLayout marginBottom="30" flexWrap="wrap" justifyContent="space-around" alignItems="flex-start">
            <CardView class="card" elevation="0" borderColor="#6c6969" shadowOffsetWidth="0" shadowOffsetHeight="0" alignSelf="flex-start">
                <StackLayout orientation="vertical">
                    <StackLayout class="app-icon">
                        <Image [src]="app_data.logo" *ngIf="app_data.logo != '' && app_data.logo != null"></Image>
                        <Image src="~/images/no-image-logo.jpg" *ngIf="app_data.logo == '' || app_data.logo == null"></Image>
                    </StackLayout>
                    <Label fontSize="15" VerticalAlignment="center" textAlignment="center" [text]="app_data.business_name"></Label>
                </StackLayout>
            </CardView>
        </FlexboxLayout>
        <GridLayout rows="*">
            <StackLayout row="0">
                <GridLayout columns="*,*" rows="*,*,*">
                    <StackLayout class="action-section sec_col" padding="2" row="0" col="0">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'manage-app']">
                            <StackLayout paddingTop="20">
                                <Label VerticalAlignment="center" class="fa fa-building-o icon-st" [text]="'fa-building-o' | fonticon" VerticalAlignment="center"></Label>

                                <Label textAlignment="center" class="action-text" text="Manage App" row="0" col="1" VerticalAlignment="center"></Label>

                            </StackLayout>
                        </CardView>

                    </StackLayout>
                    <StackLayout class="action-section sec_col" padding="2" row="0" col="1">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'report']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <AbsoluteLayout class="noti-full">
                                    <Label left="67%" class="fa fa-newspaper-o icon-st" [text]="'fa-newspaper-o' | fonticon" VerticalAlignment="center"></Label>

                                    <StackLayout left="90%" class="m-x-auto" *ngIf="unSeenOrder > 0">
                                        <Label [text]="unSeenOrder" textAlignment="center" VerticalAlignment="center" class="unread-msg" lineHeight="20"></Label>
                                    </StackLayout>

                                </AbsoluteLayout>
                                <Label textAlignment="center" class="action-text" text="Order Details" VerticalAlignment="center"></Label>





                            </StackLayout>
                        </CardView>
                    </StackLayout>
                    <StackLayout class="action-section sec_col" padding="2" row="1" col="0">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'messages']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <AbsoluteLayout class="noti-full">

                                    <Label left="67%" class="fa fa-commenting-o icon-st" [text]="'fa-commenting-o' | fonticon" VerticalAlignment="center"></Label>

                                    <StackLayout left="90%" class="m-x-auto" *ngIf="unSeenMessage > 0">
                                        <Label [text]="unSeenMessage" textAlignment="center" VerticalAlignment="center" class="unread-msg"></Label>
                                    </StackLayout>

                                </AbsoluteLayout>
                                <Label textAlignment="center" class="action-text" text="Messages" VerticalAlignment="center"></Label>



                            </StackLayout>
                        </CardView>
                    </StackLayout>
                    <StackLayout class="action-section sec_col" padding="2" row="1" col="1">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'customers']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-users icon-st" [text]="'fa-users' | fonticon" VerticalAlignment="center"></Label>
                                <Label textAlignment="center" class="action-text" text="My Customer" VerticalAlignment="center"></Label>

                            </StackLayout>
                        </CardView>
                    </StackLayout>
                    <StackLayout class="action-section sec_col" padding="2" row="2" col="0">
                        <CardView class="whiteCard" (tap)="shareApp()" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-share-alt icon-st" [text]="'fa-share-alt' | fonticon" VerticalAlignment="center"></Label>
                                <Label textAlignment="center" class="action-text" text="Market your App" VerticalAlignment="center"></Label>

                            </StackLayout>
                        </CardView>
                    </StackLayout>
                    <StackLayout class="action-section sec_col" padding="2" row="2" col="1">
                        <CardView class="whiteCard" *ngIf="!app_details?.is_paid" [nsRouterLink]="['/created-app/', app_id, 'payment']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-building-o icon-st" [text]="'fa-building-o' | fonticon" VerticalAlignment="center"></Label>
                                <Label textAlignment="center" class="action-text" text="Make Payment" VerticalAlignment="center"></Label>
                            </StackLayout>
                        </CardView>
                        <CardView class="whiteCard" *ngIf="app_details?.is_paid" [nsRouterLink]="['/created-app/', app_id, 'subscription-details']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-building-o icon-st" [text]="'fa-building-o' | fonticon" VerticalAlignment="center"></Label>
                                <Label textAlignment="center" class="action-text" text="Subscription Details" VerticalAlignment="center"></Label>

                            </StackLayout>
                        </CardView>
                    </StackLayout>

                </GridLayout>
            </StackLayout>

        </GridLayout>

    </StackLayout>
</ScrollView>