<ScrollView row="0">
    <StackLayout class="full-dashboard" *ngIf="visible_key">
        <FlexboxLayout marginBottom="30" flexWrap="wrap" justifyContent="space-around" alignItems="flex-start">
            <CardView class="card" elevation="0" borderColor="#6c6969" shadowOffsetWidth="0" shadowOffsetHeight="0" alignSelf="flex-start">
                <StackLayout orientation="vertical">
                    <StackLayout class="app-icon" (tap)="pickLogo()">
                        <AbsoluteLayout class="camera-icon" paddingLeft="13">
                            <Image borderColor="#d3d3d3" borderWidth="1" [src]="app_data.logo" *ngIf="app_data.logo != '' && app_data.logo != null"></Image>
                            <Image borderColor="#d3d3d3" borderWidth="1" src="~/images/no-image-logo.jpg" *ngIf="app_data.logo == '' || app_data.logo == null"></Image>
                            <Label backgroundColor="#cb202d" color="#fff" fontSize="8" borderRadius="50%" class="upload-image" VerticalAlignment="center" class="fa change_logo" [text]="'fa-camera' | fonticon"></Label>
                        </AbsoluteLayout>
                    </StackLayout>
                    <Label fontSize="15" VerticalAlignment="center" textAlignment="center" [text]="app_data.business_name"></Label>
                </StackLayout>
            </CardView>
        </FlexboxLayout>
        <GridLayout rows="*">
            <StackLayout row="0">
                <GridLayout columns="*,*" rows="*,*,*">
                    <StackLayout class="action-section sec_col" padding="2" row="0" col="0">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'edit-app']">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-edit icon-st" [text]="'fa-edit' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                                <Label class="action-text" text="Edit App" row="0" col="1" VerticalAlignment="center"></Label>

                            </StackLayout>
                        </CardView>
                    </StackLayout>
                    <StackLayout class="action-section sec_col" *ngIf="serviceType ==1" padding="2" row="0" col="1">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'products']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-folder-open icon-st" [text]="'fa-folder-open' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                                <Label class="action-text" text="Edit Product" row="0" col="1" VerticalAlignment="center"></Label>

                            </StackLayout>
                        </CardView>
                    </StackLayout>
                    <StackLayout class="action-section sec_col" *ngIf="serviceType ==2" padding="2" row="0" col="1">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'products']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-briefcase icon-st" [text]="'fa-briefcase' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                                <Label class="action-text" text="Edit Service" row="0" col="1" VerticalAlignment="center"></Label>

                            </StackLayout>
                        </CardView>
                    </StackLayout>
                    <StackLayout class="action-section sec_col" padding="2" row="1" col="0">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'edit-owner-info']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-user icon-st" [text]="'fa-user' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                                <Label class="action-text" text="Edit Owner Info" row="0" col="1" VerticalAlignment="center"></Label>

                            </StackLayout>
                        </CardView>
                    </StackLayout>
                    <StackLayout class="action-section sec_col" padding="2" row="1" col="1">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'edit-business-images']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-file-image-o icon-st" [text]="'fa-file-image-o' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                                <Label class="action-text" text="Edit Business Images" row="0" col="1" VerticalAlignment="center"></Label>

                            </StackLayout>
                        </CardView>
                    </StackLayout>
                    <StackLayout class="action-section sec_col" padding="2" row="2" col="0">
                        <CardView class="whiteCard" [nsRouterLink]="['/created-app/', app_id, 'edit-social-media']" VerticalAlignment="middle">
                            <StackLayout paddingTop="20">
                                <Label class="fa fa-edit icon-st" [text]="'fa-bullhorn' | fonticon" row="0" col="0" VerticalAlignment="center"></Label>
                                <Label class="action-text" text="Edit Social Media" row="0" col="1" VerticalAlignment="center"></Label>
                            </StackLayout>
                        </CardView>

                    </StackLayout>

                </GridLayout>
            </StackLayout>

        </GridLayout>

    </StackLayout>
</ScrollView>